.rightline {
    border-right: solid 2px white;
}

.leftline {
    border-right: solid 2px white;
}

.rightline-black {
    border-right: solid 2px black;
}

.footer li {
    opacity: .6;
    transition: all ease .2s;
}

.footer li:hover {
    opacity: 1;
}

.footer li:active {
    opacity: 1;
}

.arrowanim {
    animation: arrowdown 2s infinite;
}

li.here {}

li.here:hover {
    opacity: .6;
}

.footer {
    background: black;
    color: white;
    padding: 5%;
    transform: translateY(10vh);
}

.footer-typed {
    opacity: .5;
    font-family: monospace;
}