.lander {
    width: 100vw;
    background: url('../assets/bg.jpg');
    padding-top: 1%;
}

body {
    overflow-x: hidden;
}

@keyframes header {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-4%);
    }
    100% {
        transform: translateY(0%);
    }
}

.head-land {
    margin-top: 10%;
}

.btnn {
    background: white;
    box-shadow: 0px 0px 0px 0px inset;
    color: black;
    padding-top: 0px;
    height: auto;
}

.btnn:hover {
    background: red;
    color: #fff;
}

.particles {
    border-radius: 25%;
    margin-left: 7%;
    color: white;
}

#particles-js {
    margin-top: 10%;
    position: relative;
    width: 90%;
    height: 100vh;
    background: #003366;
    border-radius: 1%;
    background-size: cover;
    background-position: 50% 50%;
}


/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

.content {
    padding: 5%;
}


/* footer properties */

.rightline {
    border-right: solid 2px white;
}

.leftline {
    border-right: solid 2px white;
}

.rightline-black {
    border-right: solid 2px black;
}

.footer li {
    opacity: .6;
    transition: all ease .2s;
}

.footer li:hover {
    opacity: 1;
}

.footer li:active {
    opacity: 1;
}

.arrowanim {
    animation: arrowdown 2s infinite;
}

li.here {}

li.here:hover {
    opacity: .6;
}


/*end footer properties */

.events {}

.event {
    /*  width: 50vh; */
}

.redir {
    height: 50vh;
}

.left-blue {}

.right-red {
    background: linear-gradient(rgba(244, 67, 54, 0.8), rgba(224, 67, 54, 0.8)), url('https://source.unsplash.com/1600x900/?nature,water') fixed 50% 50%;
}

.left-blue {
    background: linear-gradient(rgba(25, 118, 210, .9), rgba(25, 118, 210, .9)), url('https://source.unsplash.com/1600x900/?nature,water') fixed 50% 50%;
}

.left-blue,
.right-red {
    min-height: 40vh;
    margin-top: 0%;
    color: white;
    font-weight: 300;
    font-family: 'hind madurai';
    text-align: left;
    font-size: 4em;
    padding-top: 10%;
}

.left-blue small {
    color: white;
    font-size: .5em;
}

.right-red small {
    color: white;
    font-size: .5em;
}